header {
    background-color: #103045;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    
}

P {
    font-size: 48px;
    text-align: center;
}


